__pycache__/
*.pyc
Computational Thinking With Python/dados/tentativas.json
Computational Thinking With Python/dados/tentativas.tmp
Computational Thinking With Python/dados/atividades_alunos.json
Computational Thinking With Python/dados/atividades_alunos.tmp
Computational Thinking With Python/dados/interacoes.json
.DS_Store
